@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Belwe";
  src: url("/fonts/belwe-bold.woff") format("woff");
}

@theme {
  --font-belwe: "Belwe", sans-serif;
  --font-sans: "Open Sans", sans-serif;

  --color-background: #030712;
  --color-surface: #1c1917;
  --color-primary: #f59e0b;
  --color-primary-soft: #fbbf24;
  --color-base: #e5e7eb;
  --color-muted: #9ca3af;
  --color-subtle: #6b7280;
  --color-contrast: #111827;
  --color-accent: #60a5fa;
}

.debug {
  outline: 1px red solid;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
